<emh-welcome-card-component></emh-welcome-card-component>

<div class="login-container">
  <div class="logo-section"></div>

  <h1 class="login-title">{{ userType | titlecase }} Login</h1>
  <p class="login-subtitle">Enter your credentials to login to your account</p>

  <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onLogin()">
    @if (loading) {
      <emh-loading-component></emh-loading-component>
    }

    <mat-form-field appearance="outline" class="full-width-input">
      <mat-label>Email</mat-label>
      <input
        matInput
        formControlName="email"
        placeholder="example@gmail.com"
        type="email"
        required
      />
      <mat-icon matSuffix>email</mat-icon>
      @if (
        loginForm.get("email")?.hasError("email") &&
        loginForm.get("email")?.touched
      ) {
        <mat-error> Please enter a valid email address. </mat-error>
      }
    </mat-form-field>

    <mat-form-field
      appearance="outline"
      class="full-width-input password-field"
    >
      <mat-label>Password</mat-label>
      <input
        matInput
        formControlName="password"
        [type]="hidePassword ? 'password' : 'text'"
        (keydown)="$event.key === 'Enter' ? onLogin() : null"
        required
      />
      <button
        class="toggle-password"
        type="button"
        mat-icon-button
        matSuffix
        (click)="hidePassword = !hidePassword"
      >
        <mat-icon>{{
          hidePassword ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
      @if (
        loginForm.get("password")?.hasError("required") &&
        loginForm.get("password")?.touched
      ) {
        <mat-error> Password is required. </mat-error>
      }
    </mat-form-field>

    <div class="options-row">
      <mat-checkbox class="remember-me-checkbox" formControlName="rememberMe"
        >Remember me</mat-checkbox
      >
      <a href="#" class="forgot-password">Forgot Password?</a>
    </div>

    <button
      mat-button
      color="primary"
      [disabled]="loginForm.invalid || loading"
      class="sign-in-button"
    >
      Sign In
    </button>
    @if (userType === UserTypes.PATIENT.toLowerCase()) {
      <button
        mat-button
        type="button"
        class="sign-up-button"
        (click)="onSignUp()"
      >
        Sign Up
      </button>
    }
  </form>
</div>
