.view-appointment-container {
  display: flex;
  justify-content: center;
  padding: 2px;

  .appointment-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: white;
    margin: 1.5vw;
  }

  .mat-mdc-card-header {
    margin: 20px 0;
  }

  .card-title {
    font-size: 1.5rem;
    font-weight: 400;
  }

  .view-appointments {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 100%;
    max-width: 1200px;

    .search-bar-container {
      display: flex;     
      
      .search-bar {
        width: 100%;        
      }

      .mat-mdc-form-field-bottom-align {
        display: none;
      }
    }

    .view-table {
      overflow-x: auto;

      table {
        width: 100%;
        border-spacing: 0;

        th,
        td {
          padding: 0.15rem;
          text-align: center;
        }
      }
    }

    .mat-mdc-table .mat-mdc-header-row {
      background-color: #151f42;
      color: #ffffff;
    }

    .mat-mdc-table .mat-mdc-row {
      background-color: #ffffff;
    }

    .mat-mdc-table .mat-mdc-row:hover {
      background-color: #a4a8d71b;
    }

    .mat-row {
      background-color: #ffffff;
    }

    .mat-row:hover {
      background-color: #a4a8d71b;
    }

    mat-paginator {
      background-color: white;
      margin: 10px;
    }
  }

  .no-results {
    text-align: center;
    padding: 16px;
    font-style: italic;
    color: #c45b5b;
  }

  .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
  }
 
}

.search-box .mat-mdc-form-field-outline-start,
.search-box .mat-mdc-form-field-outline-end {
  border-radius: 8px !important;
}

@media (max-width: 768px) {
  .responsive-table {   
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
  }
}

::ng-deep .mat-mdc-raised-button .mat-icon {
  color: white !important;
}

.filter-button.mdc-button.mat-mdc-raised-button {
  background-color: #36495d !important;
  color: white;
  margin-bottom: 20px;
  height: 50px;
}