<div class="app-container">
  @if (showHeader) {
    <div class="header-container">
      <div class="img-class" (click)="goHome()" style="cursor: pointer">
        <img src="assets/images/logo-with-text.png" />
      </div>

      <div class="user-info">
        <button mat-icon-button [matMenuTriggerFor]="userMenu">
          <img [src]="userIcon" class="user-avatar" />
        </button>

        <span [matMenuTriggerFor]="userMenu" class="user-name">{{
          fullName
        }}</span>

        <mat-menu #userMenu="matMenu" class="user-profile-dropdown">
          <div class="arrow"></div>
          <button mat-menu-item (click)="viewProfile()">View Profile</button>
          <button mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>
      </div>
    </div>
  }
  @if (loading()) {
    <emh-loading-component></emh-loading-component>
  } @else {
    <div [class.main-content]="showHeader" class="router-outlet-container">
      <router-outlet />
    </div>
  }
</div>
