.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #151f42;
  border-bottom: 1px solid #ddd;
  max-height: 10vh;
  position: sticky;
  width: 100%;
  z-index: 9999;
}

.img-class img {
  max-height: 100px;
  &:hover {
    transform: scale(1.02);
  }
}

.user-info {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;
}

.avatar-placeholder {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #ccc;
}

.user-name {
  font-weight: bold;
  color: #ffffffce;
}

.main-content {
  max-height: 90vh;
  overflow: auto;
}

.router-outlet-container {
  max-height: 89vh;
}
