.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #151f42;
  border-bottom: 1px solid #ddd;
  max-height: 10vh;
  position: sticky;
  z-index: 100;
  padding: 0 1rem;
  position: relative;
}
.img-class img {
  max-height: 100px;

  &:hover {
    transform: scale(1.02);
  }
}
.user-info {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  margin: 10px;
  padding: 20px;
}

.user-avatar {
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  background-color: white;
}

.user-name {
  font-weight: bold;
  color: #ffffffce;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.user-name {
  font-weight: bold;
  color: #ffffffce;
}

.main-content {
  max-height: 90vh;
  overflow: auto;
}

.router-outlet-container {
  max-height: 89vh;
}
