<div class="app-container">
  @if (showHeader) {
    <div class="header-container">
      <div class="img-class" (click)="goHome()" style="cursor: pointer">
        <img src="assets/images/logo-with-text.png" />
      </div>
      <div class="user-info">
        <div class="avatar-placeholder"></div>
        <span class="user-name">{{ fullName }}</span>
      </div>
    </div>
  }
  @if (loading) {
    <emh-loading-component></emh-loading-component>
  } @else {
    <div [class.main-content]="showHeader" class="router-outlet-container">
      <router-outlet />
    </div>
  }
</div>
