<div class="app-container">
  @if (showHeader) {
 <div class="header-container">
  <!-- Logo -->
  <div class="img-class" (click)="goHome()" style="cursor: pointer">
    <img src="assets/images/logo-with-text.png" />
  </div>

  <!-- User Info -->
  <div class="user-info">
    <!-- User avatar / icon with dropdown -->
    <button mat-icon-button [matMenuTriggerFor]="userMenu">
      <img [src]="userIcon" class="user-avatar" />
    </button>

    <span class="user-name">{{ fullName }}</span>

    <!-- Menu -->
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item (click)="viewProfile()">View Profile</button>
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
  </div>
</div>
  }
  @if (loading()) {
    <emh-loading-component></emh-loading-component>
  } @else {
    <div [class.main-content]="showHeader" class="router-outlet-container">
      <router-outlet />
    </div>
  }
</div>
