.dashboard-container {
  display: flex;
  height: 89vh;
  font-family: "Arial", sans-serif;
}

.sidenav-container {
  flex: 1;
}

.sidebar {
  width: 250px;
  background-color: #2f3857;
  color: white;
  border-right: none;
}

.sidebar-header {
  padding: 16px;
  text-align: center;
}

.phone-drawer {
  display: flex;
}

.sidebar-button {
  width: 100%;
  text-align: left;
  padding: 16px;
  font-size: 1rem;
  color: rgb(217, 218, 248) !important;
  justify-content: flex-start;
  margin-bottom: 8px;
  border-radius: 8px;
  cursor: pointer;
}
.sidebar-button:hover {
  background-color: #313e9e;
}

.dashboard-main-content {
  padding: 32px;
  flex: 1;
  box-sizing: border-box;
  overflow-y: auto;
}

.header-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  gap: 16px;
}

.welcome-text {
  font-size: 2rem;
  font-weight: 500;
  color: #333;
}

.main-content {
  margin: 0 auto;
}

.section-title {
  font-size: 1.6rem;
  font-weight: 500;
  color: #333;
  margin: 1.5rem 0;
}

.no-appointments-message,
.no-orders-message {
  color: #777;
  text-align: center;
  padding: 16px;
  font-style: italic;
}

.appointment-card,
.order-card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  margin-bottom: 16px;
}
.appointment-card:hover,
.order-card:hover {
  transform: scale(1.01);
}

.appointment-body,
.order-body {
  padding: 24px;
  border-left: 4px solid;
  border-radius: 12px;
}

.appointment-card.upcoming .appointment-body {
  border-color: #3b82f6;
}

.appointment-header,
.order-header {
  font-size: 16px;
  color: #4a5568;
  margin-bottom: 8px;
}

.doctor-name {
  font-weight: 600;
  color: #1e40af;
}

.appointment-details,
.order-details {
  font-size: 14px;
  color: #6b7280;
  margin-top: 4px;
}

.appointment-details.specialty {
  font-weight: 600;
  color: #1f2937;
}

.orders-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.orders-section {
  flex: 1;
}

.orders-title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 12px;
}

.ready-title {
  color: #16a34a;
}

.not-ready-title {
  color: #9ca3af;
}

.order-card.ready .order-body {
  border-color: #16a34a;
}

.order-card.not-ready .order-body {
  border-color: #9ca3af;
}

.status-ready {
  color: #16a34a;
  font-weight: 600;
}

.status-not-ready {
  color: #9ca3af;
  font-weight: 600;
}

@media (min-width: 768px) {
  .orders-container {
    flex-direction: row;
  }
}

@media (max-width: 768px) {
  .dashboard-container {
    flex-direction: column;
    height: auto;
  }

  .sidenav-container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }

  .dashboard-main-content {
    padding: 16px;
  }
}

@media (max-width: 480px) {
  .header-container {
    flex-direction: row;
  }
}
