<div class="dashboard-container">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #drawer
      [mode]="isMobile ? 'over' : 'side'"
      [opened]="!isMobile"
      class="sidebar"
    >
      <mat-nav-list>
        <div class="sidebar-header" [ngClass]="{ 'phone-drawer': isMobile }">
          @if (isMobile) {
            <button mat-button (click)="drawer.close()">
              <mat-icon>close</mat-icon>
            </button>
          }
          <h2 class="mat-h2 text-white p-4">Dashboard</h2>
        </div>

        <mat-list-item>
          <button
            mat-button
            class="sidebar-button"
            (click)="onBookAppoinment()"
          >
            <mat-icon>person_pin</mat-icon> Book Appointment
          </button>
        </mat-list-item>
        <mat-list-item>
          <button
            mat-button
            class="sidebar-button"
            (click)="onViewAppoinments()"
          >
            <mat-icon>calendar_today</mat-icon> View All Appointments
          </button>
        </mat-list-item>
        <mat-list-item>
          <button mat-button class="sidebar-button" (click)="onViewOrders()">
            <mat-icon>person_add</mat-icon> Pharmacy Orders
          </button>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="dashboard-main-content">
      <div class="header-container">
        @if (isMobile) {
          <button
            mat-icon-button
            (click)="drawer.toggle()"
            aria-label="Toggle menu"
          >
            <mat-icon>menu</mat-icon>
          </button>
        }

        <h1 class="welcome-text">
          Welcome, {{ user.first_name }} {{ user.last_name }}.
        </h1>
      </div>

      <mat-divider></mat-divider>

      @if (!loading) {
        <div class="main-content">
          <h2 class="section-title">Your Upcoming Appointments</h2>
          @if (!dashboardData.appointments.length) {
            <div class="no-appointments-message">
              No upcoming appointments scheduled.
            </div>
          }
          @for (
            appointment of dashboardData.appointments;
            track appointment.id
          ) {
            <div
              class="appointment-card upcoming"
              (click)="onViewAppoinments()"
            >
              <div class="appointment-body">
                <p class="appointment-header">
                  Appointment with
                  <span class="doctor-name"
                    >Dr. {{ appointment.doctor_name }}</span
                  >
                  is confirmed
                </p>
                <p class="appointment-details specialty">
                  {{ appointment.speciality }}
                </p>
                <p class="appointment-details time">
                  Time: {{ appointment.start_time }} -
                  {{ appointment.end_time }}
                </p>
                <p class="appointment-details date">
                  Date: {{ appointment.date | date: "dd.MM.yyyy EEEE" }}
                </p>
              </div>
            </div>
          }

          <h2 class="section-title">Pharmacy Orders</h2>
          <div class="orders-container">
            <div class="orders-section">
              <h3 class="orders-title ready-title">Orders Ready</h3>
              @if (!dashboardData.ordersReady.length) {
                <div class="no-orders-message">
                  No orders are ready for pickup.
                </div>
              }
              @for (order of dashboardData.ordersReady; track order.order_id) {
                <div class="order-card ready" (click)="onViewOrders()">
                  <div class="order-body">
                    <p class="order-header">Order ID: {{ order.order_id }}</p>
                    <p class="order-details status">
                      Status:
                      <span class="status-ready">{{ order.status }}</span>
                    </p>
                    <p class="order-details time">
                      Time: {{ order.time | date: "short" }}
                    </p>
                  </div>
                </div>
              }
            </div>

            <div class="orders-section">
              <h3 class="orders-title not-ready-title">Other Orders</h3>
              @if (!dashboardData.ordersNotReady.length) {
                <div class="no-orders-message">
                  All orders have been prepared.
                </div>
              }
              @for (
                order of dashboardData.ordersNotReady;
                track order.order_id
              ) {
                <div class="order-card not-ready" (click)="onViewOrders()">
                  <div class="order-body">
                    <p class="order-header">Order ID: {{ order.order_id }}</p>
                    <p class="order-details status">
                      Status:
                      <span class="status-not-ready">{{ order.status }}</span>
                    </p>
                    <p class="order-details time">
                      Time: {{ order.time | date: "short" }}
                    </p>
                  </div>
                </div>
              }
            </div>
          </div>
        </div>
      } @else {
        <emh-loading-component></emh-loading-component>
      }
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
