name: Angular CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Install Chrome (for Karma)
        id: setup-chrome
        uses: browser-actions/setup-chrome@v1

      - name: Unit tests (headless)
        env:
          CHROME_BIN: ${{ steps.setup-chrome.outputs.chrome-path }}
          DISPLAY: :99
        run: |
          echo "Using Chrome at: $CHROME_BIN"
          xvfb-run -a npm test -- --watch=false --browsers=ChromeHeadlessNoSandbox

      - name: Build (production)
        run: npm run build

      - name: Upload dist artifact (optional)
        uses: actions/upload-artifact@v4
        with:
          name: dist
          path: dist

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Deploy to S3 and Invalidate CloudFront
        run: |
          npx ng build --configuration production
          aws s3 sync ./dist/eMedicHub-Web/browser s3://${{ secrets.S3_BUCKET }} --delete
          aws cloudfront create-invalidation \
            --distribution-id ${{ secrets.CLOUDFRONT_DISTRIBUTION_ID }} \
            --paths "/*"
